#conatiner{ background:black; padding: 10px; margin:0 auto; border: 1px solid blackl; width:auto}
#header{ background:pink; padding: 10px; margin:0 auto; border: 1px solid blackl; width:auto}
#menu{ background:yellow; padding: 10px; margin:0 auto; border: 1px solid blackl; width:auto}    
#footer{ background:red; padding: 10px; margin:0 auto; border: 1px solid blackl; width:auto}
#main{ background:white; padding: 10px; margin:0 auto; border: 1px solid blackl; width:auto}    
    
    
 .deletedcarshighlights{color: red; font-weight:bold
